{% extends 'SchWlBundle::base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block head_extend %}
    <link href="{{ asset("bundles/schwl/css/signin.css") }}" rel="stylesheet">
{% endblock head_extend %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error|trans }}</div>
    {% endif %}

    <div class="container">
        <h2 class="form-signin-heading">Make a wish</h2>

        <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

            <input type="text" id="username" name="_username" class="form-control"
                   placeholder="{{ 'security.login.username'|trans }}" autofocus="" required="required">
            <input type="password" id="password" name="_password" required="required" class="form-control"
                   placeholder="{{ 'security.login.password'|trans }}">
            <label for="remember_me" class="checkbox">
                <input type="checkbox" id="remember_me" name="_remember_me"
                       value="on"/>{{ 'security.login.remember_me'|trans }}
            </label>

            <input type="submit" class="btn btn-default btn-primary btn-block" id="_submit" name="_submit"
                   value="{{ 'security.login.submit'|trans }}"/>
        </form>
    </div> <!-- /container -->
{% endblock fos_user_content %}
