{% extends 'SchWlBundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="pull-right">
            <a class="label label-default" href="#">Aide</a>
            <a class="label label-default" href="{{ path('fos_user_security_logout') }}" title="Bye bye baby !">Déconnexion</a>
        </div>
    </div>
    <div class="masthead">
        <h1>Make a wish</h1>

        <div class="container">
            <div class="navbar navbar-default">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="{% block nav_wish_class %}{% endblock %}"><a
                                    href="{{ path('sch_wl_wish_index') }}">Wihlist</a></li>
                        <li class="{% block nav_gift_class %}{% endblock %}"><a href="#">Giftlist</a></li>
                        <li class="{% block nav_event_class %}{% endblock %}"><a href="#">Evénements</a></li>
                        <li class="{% block nav_profile_class %}{% endblock %}"><a href="#">Profil</a></li>
                    </ul>
                    {# if is_granted('ROLE_ADMIN') #}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('sch_wl_user_index') }}">Utilisateurs</a>
                                </li>
                                <li>
                                    <a href="{{ path('sch_wl_circle_index') }}">Cercles</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ path('sch_wl_category_index') }}">Catégories</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    {# endif #}
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    {% block content %}{% endblock %}
    <div class="footer">
        <p>&copy; SchapSchap Team 2013</p>
    </div>
{% endblock %}