<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Make A Wish</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ asset("bundles/schwl/css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ asset("bundles/schwl/css/bootstrap-responsive.min.css") }}" rel="stylesheet">
    <link href="{{ asset("bundles/schwl/css/maw.css") }}" rel="stylesheet">
<body>
    <div class="container-narrow">
        <div class="masthead">
            <ul class="nav nav-pills pull-right">
                <li class="{% block nav_wish_class %}{% endblock %}">
                    <a href="{{path('sch_wl_wish_index')}}">Wishlist</a>
                </li>
                <li class="{% block nav_offer_class %}{% endblock %}">
                    <a href="#">Offrir</a>
                </li>
                <li class="{% block nav_gift_class %}{% endblock %}">
                    <a href="#">Giftlist</a>
                </li>
                <li class="{% block nav_profile_class %}{% endblock %}">
                    <a href="#">Mon Profil</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class="dropdown {% block nav_admin_class %}{% endblock %}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Administration <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li>
                                    <a href="{{path('sch_wl_user_index')}}">Utilisateurs</a>
                                </li>
                                <li>
                                    <a href="#">Cercles</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">Autre</a>
                                </li>
                            </ul>
                        </li>
                {% endif %}
                <li>
                    <a href="{{path('logout')}}">Déconnexion</a>
                </li>
            </ul>
            <h3 class="muted">Make A Wish</h3>
        </div>
        <hr>
        {% block content %}{% endblock %}
        <hr>
        <div class="footer">
            <p>&copy; SchapSchap Team 2013</p>
        </div>
    </div>

    <script src="{{ asset("bundles/schwl/js/jquery.js") }}"></script>
    <script src="{{ asset("bundles/schwl/js/bootstrap.js") }}"></script>
</body>
</html>