{% extends 'SchWlBundle::authorized.html.twig' %}

{% block head_extend %}
    <!-- <link href="{{ asset("bundles/schwl/css/addwish.css") }}" rel="stylesheet"> -->
{% endblock head_extend %}

{% block nav_wish_class %}active{% endblock %}

{% block content %}

    {{ form_errors(form) }}

    <form action="{{ path('sch_wl_wish_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
        <input type="hidden" name="_method" value="PUT"/>

        <div class="form-group">
            {{ form_label(form.title, 'Titre', { 'attr': {'class': 'form-control'} }) }}
            {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}

            {{ form_label(form.description, 'Description', { 'attr': {'class': 'form-control'} }) }}
            {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.category, 'Catégorie', { 'attr': {'class': 'form-control'} }) }}
            {{ form_widget(form.category, { 'attr': {'class': 'form-control'} }) }}
        </div>
        {{ form_rest(form) }}
        <button class="btn btn-success btn-lg pull-right" type="submit">
            <span class="glyphicon glyphicon-edit"></span> Modifier
        </button>
        <a href="{{ path('sch_wl_wish_index') }}" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-th-list"></span> Retour
        </a>
    </form>
{% endblock %}
