<div class="{{ wish.category.slug }}" id="wish-{{ wish.id }}">
    <h2 class="col-lg-10">{{ wish.title }}</h2>

    <div class="col-lg-2 icone i{{ wish.category.slug }}"></div>
    <p>{{ wish.description }}</p>

    <p>
        <a class="btn btn-lg btn-warning" href="{{ path('sch_wl_wish_edit', { 'id': wish.id }) }}">
            <span class="glyphicon glyphicon-edit"></span> Modifier
        </a>

    <form role="form" action="{{ path('sch_wl_wish_delete', { 'id': wish.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE"/>
        {{ form_widget(delete_form) }}
        <button type="submit" class="btn btn-lg btn-danger">
            <span class="glyphicon glyphicon-remove"></span> Delete
        </button>
    </form>
    </p>
</div>