<div class="{{ wish.category.slug }}">
    <h2>{{ wish.title }}</h2>

    <div class="icone i{{ wish.category.slug }}"></div>
    <p>{{ wish.description }}</p>

    <p>{#<a class="btn btn-small btn-info" href="#">Lien »</a>#}
        <a class="btn btn-small btn-warning" href="{{ path('sch_wl_wish_edit', { 'id': wish.id }) }}">Modifier</a>
        <a class="btn btn-small btn-danger" href="{{ path('sch_wl_wish_delete', { 'id': wish.id }) }}">Supprimer</a></p>
</div>